In [1]:
import pandas as pd
df_le = pd.read_csv('Resources/Life_Expectancy_Data.csv')
df_le.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [2]:
df = pd.read_csv('Resources/lifeexpectancy-verbose.csv')
df.head()

,index,GhoCode,GhoDisplay,PublishStateCode,PublishStateDisplay,YearCode,YearDisplay,RegionCode,RegionDisplay,WorldBankIncomeGroupGroupCode,WorldBankIncomeGroupDisplay,CountryCode,CountryDisplay,SexCode,SexDisplay,DisplayValue,Numeric
0,0,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,1990,1990,AMR,Americas,WB_LMI,Lower_middle_income,NIC,Nicaragua,MLE,Male,68,68.0
1,1,WHOSIS_000002,Healthy life expectancy (HALE) at birth (years),PUBLISHED,Published,2012,2012,EUR,Europe,WB_HI,High_income,IRL,Ireland,MLE,Male,69,69.3
2,2,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2000,2000,EMR,Eastern Mediterranean,WB_LI,Low_income,YEM,Yemen,BTSX,Both sexes,61,61.0
3,3,WHOSIS_000001,Life expectancy at birth (years),PUBLISHED,Published,2000,2000,AFR,Africa,WB_LMI,Lower_middle_income,NGA,Nigeria,FMLE,Female,48,48.0
4,4,WHOSIS_000015,Life expectancy at age 60 (years),PUBLISHED,Published,1990,1990,SEAR,South_East Asia,WB_LMI,Lower_middle_income,THA,Thailand,FMLE,Female,19,19.0

In [6]:
df.drop(columns=['index','GhoCode','PublishStateCode','YearCode','RegionCode','WorldBankIncomeGroupGroupCode','CountryCode','SexCode'], axis='columns', inplace=True)
df

,GhoDisplay,PublishStateDisplay,YearDisplay,RegionDisplay,WorldBankIncomeGroupDisplay,CountryDisplay,SexDisplay,DisplayValue,Numeric
0,Life expectancy at birth (years),Published,1990,Americas,Lower_middle_income,Nicaragua,Male,68,68.00000
1,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High_income,Ireland,Male,69,69.30000
2,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Low_income,Yemen,Both sexes,61,61.00000
3,Life expectancy at birth (years),Published,2000,Africa,Lower_middle_income,Nigeria,Female,48,48.00000
4,Life expectancy at age 60 (years),Published,1990,South_East Asia,Lower_middle_income,Thailand,Female,19,19.00000
...,...,...,...,...,...,...,...,...,...
6403,Life expectancy at birth (years),Published,2000,Eastern Mediterranean,Lower_middle_income,Morocco,Both sexes,68,68.00000
6404,Life expectancy at age 60 (years),Published,1990,Western Pacific,Upper_middle_income,Palau,Both sexes,16,16.00000
6405,Life expectancy at birth (years),Published,1990,Africa,Low_income,Burkina Faso,Female,51,51.00000
6406,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,Lower_middle_income,Albania,Male,64,63.50000
6407,Life expectancy at birth (years),Published,2013,Europe,NaN,Armenia,Both sexes,71,71.02699

In [7]:
df.rename(columns={'YearDisplay':'Year','CountryDisplay':'Country'}, inplace=True)

In [8]:
df_merged= pd.merge(df, df_le, on=['Country','Year'], how='inner')
df_merged

,GhoDisplay,PublishStateDisplay,Year,RegionDisplay,WorldBankIncomeGroupDisplay,Country,SexDisplay,DisplayValue,Numeric,Status,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High_income,Ireland,Male,69,69.3,Developed,...,95.0,8.32,95.0,0.1,49231.362540,4586897.0,0.3,0.2,0.895,18.5
1,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High_income,Ireland,Both sexes,71,71.0,Developed,...,95.0,8.32,95.0,0.1,49231.362540,4586897.0,0.3,0.2,0.895,18.5
2,Life expectancy at age 60 (years),Published,2012,Europe,High_income,Ireland,Male,22,22.0,Developed,...,95.0,8.32,95.0,0.1,49231.362540,4586897.0,0.3,0.2,0.895,18.5
3,Life expectancy at age 60 (years),Published,2012,Europe,High_income,Ireland,Both sexes,24,24.0,Developed,...,95.0,8.32,95.0,0.1,49231.362540,4586897.0,0.3,0.2,0.895,18.5
4,Life expectancy at birth (years),Published,2012,Europe,High_income,Ireland,Both sexes,81,81.0,Developed,...,95.0,8.32,95.0,0.1,49231.362540,4586897.0,0.3,0.2,0.895,18.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4951,Life expectancy at birth (years),Published,2000,Africa,Low_income,Guinea,Both sexes,51,51.0,Developing,...,47.0,3.46,46.0,3.0,34.516918,888546.0,1.3,1.3,0.316,4.8
4952,Life expectancy at birth (years),Published,2000,Africa,Low_income,Guinea,Female,52,52.0,Developing,...,47.0,3.46,46.0,3.0,34.516918,888546.0,1.3,1.3,0.316,4.8
4953,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low_income,Guinea,Both sexes,43,43.2,Developing,...,47.0,3.46,46.0,3.0,34.516918,888546.0,1.3,1.3,0.316,4.8
4954,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low_income,Guinea,Female,43,43.4,Developing,...,47.0,3.46,46.0,3.0,34.516918,888546.0,1.3,1.3,0.316,4.8
4955,Life expectancy at age 60 (years),Published,2000,Africa,Low_income,Guinea,Both sexes,15,15.0,Developing,...,47.0,3.46,46.0,3.0,34.516918,888546.0,1.3,1.3,0.316,4.8

In [9]:
df_merged.columns

Index(['GhoDisplay', 'PublishStateDisplay', 'Year', 'RegionDisplay',
       'WorldBankIncomeGroupDisplay', 'Country', 'SexDisplay', 'DisplayValue',
       'Numeric', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

In [11]:
df_merged.shape

(4956, 29)

In [10]:
df_merged.isna().sum()

GhoDisplay                            0
PublishStateDisplay                   0
Year                                  0
RegionDisplay                         0
WorldBankIncomeGroupDisplay        1140
Country                               0
SexDisplay                            0
DisplayValue                          0
Numeric                               0
Status                                0
Life expectancy                      90
Adult Mortality                      90
infant deaths                         0
Alcohol                              42
percentage expenditure                0
Hepatitis B                        1077
Measles                               0
 BMI                                 78
under-five deaths                     0
Polio                                21
Total expenditure                    75
Diphtheria                           21
 HIV/AIDS                             0
GDP                                 795
Population                         1143
 thinness  1-19 years                78
 thinness 5-9 years                  78
Income composition of resources     306
Schooling                           270
dtype: int64

In [12]:
df_new = df_merged.dropna()
df_new

,GhoDisplay,PublishStateDisplay,Year,RegionDisplay,WorldBankIncomeGroupDisplay,Country,SexDisplay,DisplayValue,Numeric,Status,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High_income,Ireland,Male,69,69.3,Developed,...,95.0,8.32,95.0,0.1,49231.362540,4586897.0,0.3,0.2,0.895,18.5
1,Healthy life expectancy (HALE) at birth (years),Published,2012,Europe,High_income,Ireland,Both sexes,71,71.0,Developed,...,95.0,8.32,95.0,0.1,49231.362540,4586897.0,0.3,0.2,0.895,18.5
2,Life expectancy at age 60 (years),Published,2012,Europe,High_income,Ireland,Male,22,22.0,Developed,...,95.0,8.32,95.0,0.1,49231.362540,4586897.0,0.3,0.2,0.895,18.5
3,Life expectancy at age 60 (years),Published,2012,Europe,High_income,Ireland,Both sexes,24,24.0,Developed,...,95.0,8.32,95.0,0.1,49231.362540,4586897.0,0.3,0.2,0.895,18.5
4,Life expectancy at birth (years),Published,2012,Europe,High_income,Ireland,Both sexes,81,81.0,Developed,...,95.0,8.32,95.0,0.1,49231.362540,4586897.0,0.3,0.2,0.895,18.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4942,Life expectancy at birth (years),Published,2000,Africa,Low_income,Zimbabwe,Female,42,42.0,Developing,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8
4943,Life expectancy at age 60 (years),Published,2000,Africa,Low_income,Zimbabwe,Male,15,15.0,Developing,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8
4944,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low_income,Zimbabwe,Female,36,36.4,Developing,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8
4945,Healthy life expectancy (HALE) at birth (years),Published,2000,Africa,Low_income,Zimbabwe,Male,37,37.0,Developing,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8
4946,Life expectancy at birth (years),Published,2000,Africa,Low_income,Zimbabwe,Both sexes,42,42.0,Developing,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

In [13]:
df_new.shape

(2076, 29)

In [22]:
for col in df_new:
    print(df_new[col].value_counts())

Healthy life expectancy (HALE) at birth (years)    948
Life expectancy at age 60 (years)                  564
Life expectancy at birth (years)                   564
Name: GhoDisplay, dtype: int64
Published    2076
Name: PublishStateDisplay, dtype: int64
2012    1143
2000     549
2013     384
Name: Year, dtype: int64
Europe                   651
Africa                   510
Americas                 366
Western Pacific          255
Eastern Mediterranean    150
South_East Asia          144
Name: RegionDisplay, dtype: int64
Lower_middle_income    747
Upper_middle_income    597
Low_income             393
High_income            339
Name: WorldBankIncomeGroupDisplay, dtype: int64
Albania                 21
Greece                  21
Dominican Republic      21
Seychelles              21
Bulgaria                21
                        ..
Sierra Leone            12
Canada                  12
Myanmar                 12
Syrian Arab Republic     9
Haiti                    3
Name: Country, Length: 129, dtype: int64
Male          692
Both sexes    692
Female        692
Name: SexDisplay, dtype: int64
17    85
63    75
65    72
16    70
68    70
      ..
85     4
12     3
37     2
40     1
36     1
Name: DisplayValue, Length: 65, dtype: int64
17.0    85
16.0    70
18.0    62
19.0    57
22.0    47
        ..
48.1     1
68.1     1
44.5     1
74.9     1
37.0     1
Name: Numeric, Length: 325, dtype: int64
Developing    1731
Developed      345
Name: Status, dtype: int64
73.0    42
73.9    36
71.0    36
74.9    33
74.5    33
        ..
52.1     3
61.1     3
63.7     3
75.8     3
71.2     3
Name: Life expectancy , Length: 181, dtype: int64
138.0    39
11.0     36
174.0    36
129.0    36
163.0    33
         ..
17.0      3
179.0     3
451.0     3
182.0     3
255.0     3
Name: Adult Mortality, Length: 186, dtype: int64
0      543
1      279
2      177
3      117
4       93
      ...
40       3
42       3
58       3
23       3
104      3
Name: infant deaths, Length: 74, dtype: int64
0.01     522
8.30      21
11.49     18
8.24      18
5.14      18
        ...
11.77      3
6.02       3
11.82      3
0.70       3
7.56       3
Name: Alcohol, Length: 201, dtype: int64
6616.695125    9
49.909872      9
3830.184587    9
158.257602     9
29.755180      9
              ..
430.876979     3
279.429081     3
150.311688     3
483.191684     3
24.733286      3
Name: percentage expenditure, Length: 316, dtype: int64
98.0    192
99.0    156
97.0    144
96.0    141
95.0    138
94.0    123
92.0     87
93.0     72
9.0      63
91.0     57
89.0     57
88.0     57
7.0      51
78.0     42
84.0     39
83.0     39
8.0      36
77.0     33
68.0     30
81.0     30
64.0     24
79.0     24
86.0     24
85.0     24
73.0     21
55.0     21
6.0      21
76.0     21
82.0     18
71.0     18
62.0     18
58.0     18
4.0      18
74.0     15
67.0     15
46.0     15
72.0     15
75.0     12
66.0     12
69.0     12
87.0     12
43.0      9
2.0       9
57.0      9
47.0      9
53.0      9
26.0      9
65.0      9
36.0      9
42.0      9
33.0      9
61.0      9
51.0      3
63.0      3
23.0      3
39.0      3
Name: Hepatitis B, dtype: int64
0        705
1         81
2         57
10        39
3         30
        ...
52852      3
5253       3
39         3
596        3
62         3
Name: Measles , Length: 156, dtype: int64
6.5     30
58.3    27
53.6    27
6.2     24
17.6    24
        ..
56.6     3
57.8     3
49.5     3
52.7     3
47.2     3
Name:  BMI , Length: 234, dtype: int64
0      483
1      303
2      138
3      117
4      108
      ...
37       3
86       3
105      3
41       3
17       3
Name: under-five deaths , Length: 82, dtype: int64
99.0    276
98.0    207
96.0    159
97.0    156
94.0    150
95.0    102
91.0     87
92.0     81
93.0     60
84.0     57
85.0     57
8.0      54
9.0      51
71.0     48
72.0     42
88.0     42
87.0     42
83.0     39
7.0      36
81.0     30
82.0     30
86.0     27
75.0     24
67.0     24
65.0     21
89.0     21
73.0     18
79.0     18
51.0     18
62.0     15
63.0     12
74.0     12
78.0     12
42.0      9
47.0      9
24.0      9
46.0      6
66.0      3
77.0      3
76.0      3
23.0      3
56.0      3
Name: Polio, dtype: int64
5.26    27
5.91    24
5.39    21
7.25    21
3.98    21
        ..
5.93     3
4.30     3
6.59     3
1.15     3
7.26     3
Name: Total expenditure, Length: 260, dtype: int64
99.0    261
97.0    192
95.0    186
98.0    171
94.0    117
91.0    111
96.0     96
92.0     90
9.0      66
84.0     57
93.0     54
85.0     51
78.0     51
87.0     45
8.0      42
83.0     39
86.0     33
88.0     33
89.0     33
81.0     30
64.0     24
76.0     24
82.0     24
75.0     21
69.0     21
79.0     18
71.0     18
67.0     15
72.0     15
77.0     15
73.0     12
74.0     12
7.0       9
65.0      9
4.0       9
59.0      9
62.0      9
24.0      9
47.0      9
66.0      9
42.0      9
68.0      6
63.0      3
46.0      3
23.0      3
39.0      3
Name: Diphtheria , dtype: int64
0.1     1305
0.3       87
0.4       87
0.2       66
1.2       39
0.8       36
0.5       33
0.9       33
0.7       30
4.4       18
1.7       18
4.6       18
0.6       18
1.9       18
1.1       15
5.1       15
1.0       15
2.5       12
3.0       12
3.7       12
1.5       12
3.6        9
7.6        9
9.0        9
4.9        9
6.9        9
5.6        9
8.3        9
12.2       9
38.8       9
43.5       9
2.6        9
21.3       9
1.3        9
8.8        9
46.4       9
4.0        6
3.9        3
2.1        3
3.1        3
4.8        3
4.5        3
9.8        3
2.8        3
6.3        3
6.8        3
2.3        3
1.6        3
9.6        3
Name:  HIV/AIDS, dtype: int64
49231.362540    9
566.513873      9
32569.596830    9
4142.869175     9
391.515524      9
               ..
4414.723140     3
3843.591213     3
1532.229240     3
3537.274410     3
188.515900      3
Name: GDP, Length: 316, dtype: int64
4586897.0     9
2567666.0     9
7915.0        9
3825.0        9
17731634.0    9
             ..
289592.0      3
289359.0      3
212647.0      3
6233948.0     3
563513.0      3
Name: Population, Length: 316, dtype: int64
1.0     69
1.8     57
0.8     54
2.0     54
2.1     54
        ..
5.4      3
4.5      3
8.4      3
15.9     3
5.5      3
Name:  thinness  1-19 years, Length: 101, dtype: int64
1.9     81
2.1     66
1.5     60
2.8     60
1.1     57
        ..
13.8     3
5.4      3
7.2      3
17.7     3
7.4      3
Name:  thinness 5-9 years, Length: 96, dtype: int64
0.000    54
0.669    27
0.717    27
0.725    21
0.675    21
         ..
0.392     3
0.406     3
0.541     3
0.828     3
0.876     3
Name: Income composition of resources, Length: 248, dtype: int64
10.7    63
12.9    54
12.3    51
11.6    51
10.0    45
        ..
7.5      3
5.3      3
16.4     3
8.2      3
17.5     3
Name: Schooling, Length: 105, dtype: int64